<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xjtu.blog_backend.mapper.BlogMapper">

    <resultMap id="newBlog" type="com.xjtu.blog_backend.entity.vo.NewBlog">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="password" column="password"/>
    </resultMap>
    <!--查询最新公开博客-->
    <select id="getNewBlogListByIsPublished" resultMap="newBlog">
        select id, title, password
        from blog
        where is_published = true
        order by create_time desc
    </select>

    <resultMap id="randomBlog" type="com.xjtu.blog_backend.entity.vo.RandomBlog">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="password" column="password"/>
        <result property="createTime" column="create_time"/>
        <result property="firstPicture" column="first_picture"/>
    </resultMap>
    <!--查询随机的公开且推荐文章-->
    <select id="getRandomBlogListByLimitNumAndIsPublishedAndIsRecommend" resultMap="randomBlog">
        select id, title, password, create_time, first_picture
        from blog
        where is_published = true
          and is_recommend = true
        order by rand()
            limit #{limitNum}
    </select>

    <resultMap id="blogInfo" type="com.xjtu.blog_backend.entity.vo.BlogInfo">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="description" column="description"/>
        <result property="createTime" column="create_time"/>
        <result property="views" column="views"/>
        <result property="top" column="is_top"/>
        <result property="password" column="password"/>
        <result property="firstPicture" column="first_picture"/>
        <association property="category" javaType="com.xjtu.blog_backend.entity.Category">
            <result property="name" column="category_name"/>
            <result property="id" column="category_id"/>
        </association>
    </resultMap>

    <!--查询公开博客的简要信息-->
    <select id="getBlogInfoListByIsPublished" resultMap="blogInfo">
        select b.id,
               b.title,
               b.description,
               b.is_top,
               b.create_time,
               b.views,
               b.password,
               b.first_picture,
               c.category_name,
               c.id as category_id
        from blog as b
                 left join category as c on b.category_id = c.id
        where b.is_published = true
    </select>
</mapper>
