<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rawchen.mapper.UserMapper">
	<!--按用户名查询User-->
	<select id="findByUsername" resultType="com.rawchen.entity.User">
		select *
		from user
		where username = #{username}
			limit 1
	</select>

	<insert id="insertSelective" parameterType="com.rawchen.entity.User">
		insert into user
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="username != null">
				username,
			</if>
			<if test="password != null">
				password,
			</if>
			<if test="nickname != null">
				nickname,
			</if>
			<if test="avatar != null">
				avatar,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="pharmacistId != null">
				#{pharmacistId,jdbcType=VARCHAR},
			</if>
			<if test="gender != null">
				#{gender,jdbcType=INTEGER},
			</if>
			<if test="age != null">
				#{age,jdbcType=INTEGER},
			</if>
			<if test="name != null">
				#{name,jdbcType=CHAR},
			</if>
			<if test="password != null">
				#{password,jdbcType=CHAR},
			</if>
		</trim>
	</insert>

	<insert id="insert" parameterType="com.rawchen.entity.User">
		insert into user (username, password,nickname,avatar,create_time,email,role)
		values (#{username,jdbcType=VARCHAR},#{password,jdbcType=VARCHAR}, #{nickname,jdbcType=VARCHAR},
				#{avatar,jdbcType=VARCHAR},#{createTime, jdbcType=DATE},#{email,jdbcType=VARCHAR},#{role,jdbcType=VARCHAR})
	</insert>
</mapper>
